#selectionBox {
  border: 1px solid black;
  padding-top: 10px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}
select {
  display: table-cell;
  margin: 10px;
  align-content: center;
  width: 100%;
}
label {
  font-weight: normal;
  text-align: left;
}
